@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

@theme {
  --color-primary: #3b82f6;
  --color-primary-dull: #2563eb;
  --color-light: #1e293b;
  --color-background: #0f172a;
  --color-borderColor: #334155;
  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;
}